@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font: 10px;
  font-family: montserret, sans-serif;
}
a {
  text-decoration: none;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 700px;
}
h3 {
  padding-top: 100px;
  padding-left: 10px;
}

.section-title {
  font-size: 2.5 rem;
  font-weight: 300;
  color: black;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 10px;
}
/* header section */

nav {
  width: 100%;
  height: 100%;
  background-color: rgb(240, 178, 190);
  box-sizing: border-box;
  position: sticky;
  top: 0;
}
label.logo {
  font-size: 30px;
  margin: 0 100px;
  line-height: 80px;
}
nav ul {
  float: right;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
}
nav ul li a {
  color: black;
  font-size: 20px;
  text-transform: capitalize;
  padding: 8px 20px;
}
nav ul li a:hover {
  background-color: rgb(248, 105, 134);
}
#checkbtn {
  float: right;
  line-height: 80px;
  margin-right: 10px;
  font-size: 30px;
  color: white;
  display: none;
}
#check {
  display: none;
}
#check:checked ~ ul {
  left: 0;
}
@media (max-width: 867px) {
  #checkbtn {
    display: block;
  }
  nav ul {
    display: block;
  }
}

/* end header section */

/*  hero section  */
#hero {
  background-color: rgb(252, 248, 249);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}

.photo {
  height: 300px;
  width: 300px;
  display: block;
  border-radius: 50%;
  border: 7px solid rgb(252, 248, 249);
  margin-left: 230px;
  margin-bottom: 100px;
}
#hero::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  z-index: -1;
}
span {
  color: crimson;
}

#hero h1 {
  display: block;
  width: fit-content;
  font-size: 1.5rem;
  position: relative;
  color: black;
}
#hero .hero {
  max-width: 1200px;
  margin-top: 0 auto;
  padding: 0 50px 0 100px;
  justify-content: flex-start;
}
#hero .cta {
  display: inline-block;
  padding: 10px 30px;
  color: black;
  background-color: transparent;
  border: 2px solid crimson;
  font-size: 1.5 rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 30px;
  transition: 0.3s ease background-color;
  transition-property: background-color, color;
}
#hero .cta:hover {
  color: white;
  background-color: crimson;
}
/*  end hero section  */

/*  projects section  */
#projects .projects {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}
#projects .project-header {
  margin-bottom: 50px;
  margin-top: 50px;
  font-size: 1.5rem;
}
#projects .all-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#projects .project-items {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
}
#projects .project-info {
  display: flex;
  justify-content: center;
  padding: 30px;
  flex-basis: 50%;
  height: 100%;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgb(243, 228, 231);
  border-radius: 10px;
}
#projects .project-info h1 {
  font-size: 4 rem;
  font-weight: 500;
  text-decoration: underline;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#projects .project-info h2 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 10px;
}
#projects .project-info p {
  color: black;
  font-size: 1rem;
  padding-top: 5px;
  margin-left: 10px;
}
#projects .project-info a {
  display: inline-block;
  padding: 5px 25px;
  color: black;
  background-color: transparent;
  border: 2px solid rgb(243, 228, 231);
  font-size: 2 rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 30px;
  margin-left: 550px;
}
#projects .project-info a:hover {
  color: black;
  background-color: crimson;
}
#projects .project-img {
  flex-basis: 50%;
  height: 300px;
  overflow: hidden;
  position: relative;
}
#projects .project-img::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(60deg, white, rgb(209, 57, 88) 100%);
  opacity: 0.7;
}
#projects .project-img {
  transition: 0.3s ease transform;
}
#projects:hover .project-img {
  transform: scale(1.1);
}
/* end projects section  */
/* about me section */
#about .about {
  text-align: center;
  flex-direction: column;
  padding: 100px 20px;
  max-width: 1200px;
  margin: 0 auto;

  font-weight: 500px;
}
#about .col-right h1 {
  font-size: 3rem;
  margin-top: 1px;
}

#about .col-right h2 {
  font-size: 1.8 rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  margin-top: 100px;
}
#about .about p {
  margin-bottom: 20px;
  letter-spacing: 0.05rem;
  line-height: 2rem;
  font-size: 15px;
}
#about {
  background-color: rgb(252, 248, 249);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}
#about .cta {
  display: inline-block;
  padding: 10px 30px;
  color: black;
  background-color: transparent;
  border: 2px solid crimson;
  font-size: 1.5 rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 10px;
  transition: 0.3s ease background-color;
  transition-property: background-color, color;
  margin-bottom: 50px;
}
#about .cta:hover {
  color: white;
  background-color: crimson;
}
/*end about me section */
/* contact section */
#contact .contact {
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 20px 20px;
  font-size: 1.5rem;
}

/* end contact section */
/*footer */
#footer {
  background-image: linear-gradient(60deg, white, rgb(209, 57, 88) 100%);
  max-height: 80%;
}
#footer .footer {
  min-height: 100px;
  flex-direction: column;
  padding: 30px 0 10px 0;
  font-size: 1.5rem;
}
#footer h2 {
  color: black;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
#footer .social-icon {
  display: flex;
  margin-bottom: 30px;
}
#footer .social-item {
  margin: 0 5px;
}
#footer .social-item {
  filter: grayscale(0);
  color: white;
}
#footer .social-item:hover {
  filter: grayscale(1);
  transition: 0.3s ease filter;
}
#footer p {
  color: black;
  font-size: 1rem;
}
/* end footer*/
